.print_main{
    color:black;
    background-color: white;
    width: 216mm;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.tablas{
    width: 192mm;
    margin:0 auto;

}
.nro_factura{
    height: 19mm;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2mm;
}
.info_cliente{
    font-size: 10px;
    height: 14mm;
    margin-top: 4mm;
}
.info_cliente p{
    line-height: 2px;
}
.descripciones{
    margin: 8mm 2mm 0;
    font-size: 10px;
    text-align: center;
    height: 38mm;
    width: 100%;
    vertical-align: top;
}
.items_descripciones{
    display: flex;
    flex-direction: row;
    font-size: 11px;
}
.cod{
    width: 13mm;
}
.cant{
    width: 10mm;
}
.nombre_des{
    width: 90mm;
}
.precio_uni{
    width: 18mm;
}
.exenta{
    width: 25mm;
}
.iva5{
    width: 23mm;
}
.iva10{
    width: 25mm;
}
.descripciones tr{
    padding: 0;
}
.descripciones tr td{
    margin:0; padding: 0;
    font-size: 10px;
    vertical-align: top;
}
.subtotales{
    font-size: 8px;
    text-align: center;
}
.liquidacion_iva{
    font-size: 8px;
    text-align: center;
    margin-bottom: 9mm;
}