.print_main{
    width: 216mm;
    margin-top: 12mm;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.tablas{
    width: 192mm;
    margin:0 auto;
}
.nro_factura{
    height: 19mm;
    font-size: 12px;
    font-weight: bold;
}
.info_cliente{
    font-size: 10px;
    height: 14mm;
}
.info_cliente p{
    line-height: 0px;
}
.descripciones{
    margin-top: 5mm;
    font-size: 8px;
    text-align: center;
    height: 33mm;
    vertical-align: top;
}

.descripciones tr{
    padding: 0;
}
.descripciones tr td{
    margin:0; padding: 0;
    font-size: 8px;
    vertical-align: top;
}
.subtotales{
    font-size: 8px;
    text-align: center;
}
.liquidacion_iva{
    font-size: 8px;
    text-align: center;
    margin-bottom: 8mm;
}